<div>
	<div class="row" style="padding-top:57px">
		<div class="col-md-1 col-md-offset-1">
			<h1>Chrome</h1>
		</div>
	</div>
	<div class="row" style="padding-top:30px">
		<div class="col-md-2 col-md-offset-2">
			<h3>Open a URL</h3>
		</div>	
	</div>
	<div class="row" style="padding-top:20px">
		<div class="col-md-5 col-md-offset-3">
			<input type="text" id="openURL" placeholder="URL">
			<button type="button" onclick="openChrome()" class="btn btn-default">Open</button>
		</div>
	</div>
</div>